@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Garamond:wght@300&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Garamond:wght@300&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg2-color:#1e1e1d; 
  --bg-color: #161513;
  --text-color: #fff;
  --t2-color: #ccc;
  --p-color: #b1b6c9;
  --fbkg-color: #111;
  --title-gradient: linear-gradient(#cecece, rgb(114, 114, 114));
}
html {
  scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}

body{
  padding-top: 40px;
}
body.light-mode {
  --bg2-color:#e9e9e9; 
  --bg-color: #f2f3f4;
  --text-color: #2b2b2b;
  --t2-color: #131313;
  --p-color: #2c2d31;
  --title-gradient: #1e1e1d;
}

.topb {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* puedes ajustar */
  background-color: var(--bg2-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.tb-cont {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content:flex-end;
  gap: 30px;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

.theme-switch input {
  display: none;
}

.switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.switch::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s, background-image 0.3s;
  
  background-image: url('components/assets/dark-icon.png');
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s, background-image 0.3s;
}

.theme-switch input:checked + .switch {
  background-color: #1e1e1d;
}

#themeToggle:checked + .switch::before {
  transform: translateX(30px);
  background-image: url('components/assets/day-icon.png');
}

.navbar {
  background-color: var(--bg2-color);
  top: 40px;
  width: 100%;
  padding: clamp(15px, 3vw, 35px) clamp(20px, 5vw, 30px);
  color: --text-color;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.n-cont {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-nav img {
  height: clamp(18px, 2vw + 5px, 25px);
  width: auto;
}

.n-link {
  list-style: none;
  display: flex;
  gap: clamp(20px, 5vw, 100px);
  transition: 0.4s ease;
}

.n-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: clamp(14px, 1vw + 8px, 16px);
  transition: 0.3s ease;
  color: var(--t2-color);
}

.n-link a:hover {
  color: var(--text-color);
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: absolute;
  right: clamp(15px, 4vw, 25px);
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
}

.menu-toggle span {
  display: block;
  width: clamp(22px, 4vw, 28px);
  height: 3px;
  background-color: var(--t2-color);
  border-radius: 2px;
  transition: 0.3s;
}

.lang-container {
  display: flex;
  align-items: center;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.lang-btn img {
  width: 24px;
  height: 24px;
}

.lang-btn:hover {
  opacity: 0.8;
}

#mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.5s ease;
}

#mainHeader.collapsed {
  transform: translateY(-90%);
}

/* Pestañita fija fuera del header */
.nav-tab {
  position: fixed;
  top: 0; /* misma altura que el header */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  cursor: pointer;
  display: none; /* oculta por defecto */
  transition: opacity 0.3s ease;
}

/* Mostrar solo cuando el header está colapsado */
#mainHeader.collapsed + .nav-tab {
  display: flex;
  justify-content: center;
  top: 0;
}

.tab-shape {
  width: 80px;
  height: 22px;
  background: var(--bg2-color);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background 0.3s;
}

.tab-shape:hover {
  background: var(--t2-color);
}

#hero {
  color: var(--text-color);
}

.sect {
  background-color: --bg-color;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile {
  margin-top: 120px;
  border-radius: 50%;
  height: clamp(120px, 20vw, 200px);
  width: clamp(120px, 20vw, 200px);
  object-fit: cover;
}

.h-text {
  max-width: 1200px;
  margin: 0;
  text-align: center;
}

.h-text h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: clamp(32px, 6vw, 60px);
  padding: clamp(10px, 2vw, 20px) 0;
  text-align: center;
}

.h-text p {
  width: 100%;
  padding: 0 clamp(15px, 5vw, 100px);
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 2vw, 30px);
  font-weight: 300;
}

.highlight {
  background-image: linear-gradient(#9c35FB, #fe855f);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 2vw, 15px);
  margin-top: clamp(20px, 4vw, 40px);
  flex-wrap: wrap;
}

button {
  border-radius: 999px;
  padding: clamp(10px, 1.5vw, 18px) clamp(20px, 4vw, 40px);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.w-btn {
  border: none;
  color: var(--bg2-color);
  border: 3px solid var(--text-color);
  background-color: var(--text-color);
}

.b-btn {
  color: var(--text-color);
  border: 3px solid var(--text-color);
  background-color: var(--bg2-color);
}
.tech-cont h3 {
    color: var(--t2-color);
    margin-top: clamp(50px, 10vw, 100px);
    font-family: "Poppins", sans-serif;
    letter-spacing: 5px;
    font-size: clamp(18px, 2vw, x-large);
    text-align: center;
}

.img-cont {
    margin-top: clamp(20px, 5vw, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 5vw, 70px);
    flex-wrap: wrap;
}

.tech-cont img {
    height: clamp(30px, 5vw, 50px);
}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projects h2{

  background: var(--title-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  color: var(--title-gradient);
  background-clip: text;

  font-size: 60px;
  font-weight: 900;
  box-shadow: 5px black;
}

.proj-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  gap: 50px;
}

.proj-cont{
  width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.proj-img{
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 40px 40px 0 0;
}

.t-cont{
  display: flex;
  justify-content: space-between;
  align-content: center;

  color: var(--text-color);
  background-color: var(--bg2-color);
  width: 100%;
  padding: 20px;
  padding-left: 40px;
  border-radius: 0 0 40px 40px;
}

.txt{
  display: flex;
  flex-direction: column;
}

.txt p{
  margin-bottom: 7px;
  font-weight: 700;
}

.txt h3{
  font-size: x-large;
  font-weight: 900;
}
.link-i

.link-img{
  height: 20px;
  transition: 0.3s ease;
}

.link-img:hover{
  transform: scale(1.2);
}

#experience{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#experience h1{
  background: var(--title-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  color: var(--title-gradient);
  background-clip: text;

  width: 100%;
  text-align: center;

  font-size: 60px;
  font-weight: 900;
  box-shadow: 5px black;
}
.exp-cont{
  margin-top: 50px;
  margin-bottom: 35px;
  width: 50%;
}

.st-row{
  display: flex;
  justify-content: space-between;
}
.n1{
  display: flex;
  flex-direction: center;
  margin-bottom: 25px;
}
.n1 h3{
  font-size: xx-large;
  color: var(--text-color);
}

.exp-cont p{
  font-size: x-large;
  color: var(--p-color);
  text-align: justify;
}

.st-row img{
  height: 40px;
  padding-right: 25px;
}

#career{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

#career h1{
  background: var(--title-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  color: var(--title-gradient);
  background-clip: text;

  font-size: 60px;
  font-weight: 900;
  box-shadow: 5px black;
  margin-bottom: 40px;
}
.exp-cont-c{
  margin-top: 10px;
  margin-bottom: 25px;
  width: 50%;
}

.st-row-c{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.n1-c{
  display: flex;
  flex-direction: center;
}
.n1-c h3{
  font-size: xx-large;
  color: var(--text-color);
}

.exp-cont-c p{
  font-size: x-large;
  color: var(--p-color);
  text-align: justify;
}

.st-row-c img{
  height: 40px;
  padding-right: 25px;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

#footer {
  background-color: var(--bg2-color);
  color: var(--t2-color);
  padding: 50px 20px 20px;

  box-shadow: 5px 0 10px rgb(0, 0, 0, 0.4);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 40px;
  width: 50%;
  margin: auto;
}

.footer-container img{
  height: 20px;
  margin-bottom: 20px;
}

.footer-section h2,
.footer-section h3 {
  color: var(--text-color);
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: var(--ftc-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--text-color);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials a {
  color: var(--ftc-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: var(--text-color);
}

.footer-bottom {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  margin-top: 30px;
  font-size: 14px;
  color: var(--text-color);
}


@media (max-width: 1024px) {
  .h-text{
    padding: 20px;
  }
  #projects h2{
    font-size: 5vh;
  }
  #experience .exp-cont {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  #experience .st-row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #experience .n1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
  }

  #experience .n1 h3 {
    font-size: 2rem;
  }

  #experience .st-row > p {
    font-size: 1.2rem;
  }

  #career .exp-cont-c {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  #career .st-row-c {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }


  #career .n1-c h3 {
    font-size: 2rem;
  }

  #career .st-row-c p {
    font-size: 1.2rem;
  }
  #footer{
    padding: 0 100px;
  }

  .proj-cont{
    width: 80%;
  }

  .proj-img{
    height: 100%;
    object-fit: cover;
  }

  #footer {
    padding: 40px 15px 15px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 30px;
  }

  .footer-section {
    width: 100%;
  }

  .footer-section img {
    height: 25px;
    margin-bottom: 15px;
  }

  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 13px;
    line-height: 1.5;
  }

  .footer-section ul li {
    margin: 5px 0;
  }

  .footer-section ul li a {
    font-size: 13px;
  }

  .socials {
    justify-content: center;
    gap: 20px;
  }

  .socials img {
    height: 28px;
  }

  .footer-bottom {
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
  }

}

@media (max-width: 768px) {

  .profile {
    margin-top: 50px;
  }
  
  .menu-toggle {
    display: flex;
  }

  .n-link {
    position: fixed;
    top: clamp(60px, 8vw, 80px);
    right: -100%;
    flex-direction: column;
    background-color: #1e1e1d;
    width: 100%;
    height: calc(100vh - clamp(60px, 8vw, 80px));
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 6vw, 40px);
    transition: right 0.4s ease;
  }

  .n-link.active {
    right: 0;
  }

  #footer {
    padding: 40px 15px 15px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 30px;
  }

  .footer-section {
    width: 100%;
  }

  .footer-section img {
    height: 25px;
    margin-bottom: 15px;
  }

  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 13px;
    line-height: 1.5;
  }

  .footer-section ul li {
    margin: 5px 0;
  }

  .footer-section ul li a {
    font-size: 13px;
  }

  .socials {
    justify-content: center;
    gap: 20px;
  }

  .socials img {
    height: 28px;
  }

  .footer-bottom {
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .tb-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
  }
  .navbar {
    padding: 12px 15px;
  }

  .menu-toggle {
    display: flex;
    margin-top: 20px;
    right: 15px;
  }

  .logo-nav img {
    height: 18px;
  }

  .n-link a {
    font-size: 1rem;
  }
  #experience h1{
    font-size: 5vh;
  }

  #experience .exp-cont {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #experience .st-row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #experience .n1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
  }

  #experience .n1 h3 {
    font-size: 1rem;
  }

  #experience .st-row p {
    font-size: 0.9rem;
  }

  #experience .exp-cont > p {
    font-size: 0.85rem;
    line-height: 1.3;
  }

  #career h1{
    font-size: 5vh;
  }

  #career .exp-cont-c {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #career .st-row-c {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  #career .n1-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
  }

  #career .n1-c h3 {
    font-size: 1rem;
  }

  #career .st-row-c p {
    font-size: small;
  }

  #footer {
    padding: 40px 15px 15px;
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 30px;
  }

  .footer-section {
    width: 100%;
  }

  .footer-section img {
    height: 25px;
    margin-bottom: 15px;
  }

  .footer-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 13px;
    line-height: 1.5;
  }

  .footer-section ul li {
    margin: 5px 0;
  }

  .footer-section ul li a {
    font-size: 13px;
  }

  .socials {
    justify-content: center;
    gap: 20px;
  }

  .socials img {
    height: 28px;
  }

  .footer-bottom {
    font-size: 12px;
    margin-top: 20px;
    padding-top: 10px;
  }

}