<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Morg.dev - Full-stack Developer Portfolio</title>
        <link rel="stylesheet" href="project01.css">
    </head>
    <body>
        <header>
            <nav class="navbar inter">
                <div class="n-cont">
                    <div class="logo-nav">
                        <a href=""><img src="/components/assets/logo-w.png" alt=""/></a>
                    </div>
                    <div class="menu-toggle" id="menu-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="n-link">
                        <li><a href="#hero">Home</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#footer">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section id="inProj">
            <div class="container poppins">
                <div class="intCont width">
                    <div class="w1">
                        <div class="h-text">
                            <h1>Booking Website</span></h1>
                            <p>Full-stack webpage for hotel booking management with a focus on usability and full-stack architecture.</p>
                        </div>
                        <div class="btn-cont">
                            <button class="w-btn">See Website</button>
                            <button class="b-btn">Go To GitHub!</button>
                        </div>
                        <div class="tech-cont">
                            <h3>TECHNOLOGY</h3>
                            <div class="img-cont">
                                <img src="/components/assets/css-logo.png" alt="css"/>
                                <img src="/components/assets/html-icon.png" alt="html"/>
                                <img src="/components/assets/js-logo.png" alt="js"/>
                            </div>
                        </div>
                    </div>
                    <img class="hero-img" src="/components/assets/thumbnail-p.jpg" alt="weh-page hero">
                </div>
            </div>
        </section>

        <section id="abProj" class="container poppins">
            <div class="w2 width">
                <div class="w2-1">
                    <h2>ABOUT THE PROJECT</h2>
                    <p class="p-d">This project involves the development of a web application for managing hotel bookings, integrating a modern front-end and a functional back-end architecture. Its main objective is to offer a seamless and engaging experience for both customers who wish to make bookings and the administrator in charge of managing the site's information.</p>
                    <h3>Which was my personal motivation?</h3>
                    <p class="p-d">I decided to develop this project as a way to capture my knowledge and progress in web development. My main motivation was to create a comprehensive project that encompasses both the frontend and backend, allowing me to document my progress, learnings, mistakes, and improvements throughout the process. I also hope this project will reflect my capacity for continuous learning and demonstrate my skills to future recruiters or companies interested in my professional profile.</p>
                </div>
                <div class="sqr">
                    <p class="p">The project is currently in the development phase. New pages, features, and visual improvements are being progressively added, with the goal of optimizing the user experience and expanding the system's technical capabilities.</p>
                </div>
                <div class="w2-2">
                    <h3>Which are the specific objectives or goals of the project?</h2>
                    <p class="p-d">• Put my knowledge of HTML, CSS, and JavaScript into practice, developing a website from scratch. <br>
                    • Thoroughly understand the structure and logic of a complete web project before incorporating frameworks or libraries. <br>
                    • Develop a clean, functional, and responsive interface that improves the user experience. <br>
                    • Document the development process to demonstrate my work methodology, problem-solving skills, and technical progress.</p>
                </div>
            </div>
        </section>
        
        <script src="script.js"></script>
    </body>

    <footer id="footer" class="footer poppins container">
        <div class="footer-container">
            <div class="footer-section">
                <img src="/components/assets/logo-w.png" alt="" />
                <p>Passionate full-stack web developer with hands-on experience across diverse projects, specializing in both frontend and backend development.</p>
            </div>
            
            <div class="footer-section">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <ul>
                    <li>Email: <a href="mailto:info@misitio.com">contact@morgdev.com</a></li>
                    <li>Tel: <a href="tel:+34123456789">+34 629 62 68 96</a></li>
                    <li>I'm everywhere :)</li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Take a look!</h3>
                <div class="socials">
                    <a href="https://github.com/seventrexzz7" target="_blank"><img src="/components/assets/git-logo.png" alt="github"/></a>
                    <a href="#"><img src="/components/assets/linkedin-icon.png" alt="github"/></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            © 2025 MORG.DEV. All rights reserved.
        </div>
    </footer>
</html>